<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assignment_id %><br />
    <%= f.collection_select :assignment_id, Assignment.find(:all), :id, :assignment_name %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.collection_select :course_id, Course.find(:all), :id, :name%>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.collection_select :student_id, Student.find(:all), :id, :full_name %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
