<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Due date</th>
    <th>Max points</th>
    <th>Assignment name</th>
    <th>Course</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.due_date %></td>
    <td><%= assignment.max_points %></td>
    <td><%= assignment.assignment_name %></td>
    
    <td><%= assignment.created_at %></td>
    <td><%= assignment.updated_at %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
