<%= form_for(@roster) do |f| %>
  <% if @roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>

      <ul>
      <% @roster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.collection_select :student_id, Student.find(:all), :id, :full_name %>
   
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.collection_select :course_id, Course.find(:all), :id, :name, :prompt => "Select a Course"%>
  </div>
  <div class="field">
    <%= f.label :final_number_grade %><br />
    <%= f.text_field :final_number_grade %>
  </div>
  <div class="field">
    <%= f.label :final_grade %><br />
    <%= f.text_field :final_grade %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
