<p id="notice"><%= notice %></p>

<p>
  <b>Teacher first name:</b>
  <%= @teacher.teacher_first_name %>
</p>

<p>
  <b>Teacher last name:</b>
  <%= @teacher.teacher_last_name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @teacher.teacher_id %>
</p>



<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
